@import "compass/reset";

$baseFontSize: 16px;
$baseLineHeight: 20px;

@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";


.header {
  margin-bottom: 20px;
}

.inventory {
  background-image: url('/assets/inventory_background.png');
  color: #FFF;
  h2 {
    color: #FFF;
  }
}

.description, .items, .exits {
  margin-bottom: 20px;
}

.items, .exits {
  .button_to {
    display: inline;
    div {
      display: inline;
    }
  }
}

.exits {
  .button_to {
    margin: 0;
    input[type="submit"] {
      padding: 5px;
    }
  }
}